.postAddMain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F8F8;
}
.postAddSubMMain{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    background: white;
}
.postAddFields{
    width: 700px;
    border: 1px solid grey !important;
    border-radius: 5px;
    margin: 0.5rem !important;
}
.productImageStyle{
    width: 200px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.map-on-products{
    width: 700px;
    height: 400px;
    padding: 1rem;
}
.map-autocomplete-field{
    width: 700px;
    height: 40px;
    border: 1px solid grey !important;
    border-radius: 5px;
    margin-bottom: 0.5rem !important;
}